*.prefs
*.class
*.project
*.classpath
*.settings
Examenes/Examen1/src/com/Interfaces/Cuadrado.java
Examenes/Examen1/src/com/Interfaces/FiguraGeometrica.java
Examenes/.metadata/.lock
Examenes/.metadata/.log
Examenes/.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
Examenes/.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
Examenes/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/color-definitions-fix.css
Examenes/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.buildship.ui-1231266899.css
Examenes/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.egit.ui-1849137576.css
Examenes/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.epp.mpc.ui.css--1027399938.css
Examenes/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.jdt.ui-326703266.css
Examenes/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.pde.spy.css-1231266899.css
Examenes/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
Examenes/.metadata/.plugins/org.eclipse.core.resources/.history/42/00122415d419001d1257dee343760586
Examenes/.metadata/.plugins/org.eclipse.core.resources/.history/cf/e0bb155dd419001d1257dee343760586
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Examen2Maven/.indexes/properties.index
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Examen2Maven/.markers.snap
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Examen2Maven/.syncinfo.snap
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Examen2Maven/org.eclipse.egit.core/GitProjectData.properties
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/properties.index
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
Examenes/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/org.eclipse.egit.core/GitProjectData.properties
Examenes/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Examenes/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Examenes/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Examenes/.metadata/.plugins/org.eclipse.core.resources/0.snap
Examenes/.metadata/.plugins/org.eclipse.debug.core/.launches/_DeportistaControllerServlet.launch
Examenes/.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat v9.0 Server at localhost.launch
Examenes/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Examenes/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Examenes/.metadata/.plugins/org.eclipse.jdt.core/1338397245.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/2376234376.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/2726785889.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/2817931220.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/3023963406.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/3095420568.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/3330965654.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/676939491.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/954600330.index
Examenes/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Examenes/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Examenes/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Examenes/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Examenes/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Examenes/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Examenes/.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/1169752135.index
Examenes/.metadata/.plugins/org.eclipse.m2e.core/Examen2Maven.lifecyclemapping
Examenes/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
Examenes/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Examenes/.metadata/.plugins/org.eclipse.m2e.jdt/Examen2Maven.container
Examenes/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Examenes/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
Examenes/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Examenes/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Examenes/.metadata/.plugins/org.eclipse.ui.intro/introstate
Examenes/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1121779348.index
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1330626325.index
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/267364033.index
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2767339105.index
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2779400357.index
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/676939491.index
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
Examenes/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/modules.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.properties
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/web.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2022-08-11.txt
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/maven-student-web-tracker/org/apache/jsp/add_002ddeportista_002dform_jsp.java
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/maven-student-web-tracker/org/apache/jsp/lista_002ddeportistas_jsp.java
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/maven-student-web-tracker/org/apache/jsp/update_002ddeportista_002dform_jsp.java
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/add-deportista-form.jsp
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/css/add-deportista-style.css
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/css/style.css
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/index.html
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/lista-deportistas.jsp
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/META-INF/context.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/META-INF/MANIFEST.MF
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/META-INF/maven/com.luv2code/maven-student-web-tracker/pom.properties
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/META-INF/maven/com.luv2code/maven-student-web-tracker/pom.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/update-deportista-form.jsp
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/.DS_Store
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/classes/com/.DS_Store
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/classes/com/luv2code/.DS_Store
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/classes/com/luv2code/web/.DS_Store
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/javax.annotation-api-1.3.2.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/javax.servlet-api-3.1.0.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/javax.servlet.jsp-api-2.3.1.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/javax.servlet.jsp.jstl-1.2.1.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/javax.servlet.jsp.jstl-api-1.2.1.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/jstl-1.2.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/mysql-connector-java-5.1.38-bin.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/mysql-connector-java-8.0.30.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/lib/protobuf-java-3.19.4.jar
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Examen2Maven/WEB-INF/web.xml
Examenes/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/ROOT/WEB-INF/web.xml
Examenes/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Examenes/.metadata/.plugins/org.eclipse.wst.validation/dep.index
Examenes/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
Examenes/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
Examenes/.metadata/defender.check
Examenes/.metadata/version.ini
